<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @temperature.time %>
</p>

<p>
  <strong>Date:</strong>
  <%= @temperature.date %>
</p>

<p>
  <strong>Minimum temperature:</strong>
  <%= @temperature.minimum_temperature %>
</p>

<p>
  <strong>Maximum temperature:</strong>
  <%= @temperature.maximum_temperature %>
</p>

<%= link_to 'Edit', edit_temperature_path(@temperature) %> |
<%= link_to 'Back', temperatures_path %>
